html, body {
    overflow: hidden;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica;
}
rect {
    stroke: #FFFFFF;
}
.label {
    margin: 2px;
}

.highlighted {
    stroke: #99FF33;
    stroke-width: 5;
}


.foreignObject {
    font: 9px sans-serif;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    height: 15px;
    width: 140px;
}